---
# tasks file for hidden-service
- name: ensure the repository key is present
  apt_key:
    data: "{{ lookup('file', 'torproject.asc') }}"
    state: present

- name: ensure the required repository is present
  apt_repository:
    repo: "deb http://deb.torproject.org/torproject.org {{ ansible_distribution_release }} main"

- name: ensure tor is installed
  apt:
    pkg: tor
    state: "{{ hidden_service_tor_apt_state }}"

- name: ensure hidden service directory is present
  file:
    path: "/var/lib/tor/{{ item.key }}/"
    owner: debian-tor
    group: debian-tor
    mode: 0700
    state: directory
  with_dict: "{{ hidden_service_services }}"
  register: hidden_service_creation
  when: item.value.hidden_service_state|default('present') == 'present'

- name: ensure hidden service configuration is latest
  template:
    src: torrc.j2
    dest: /etc/tor/torrc
    owner: root
    group: root
    mode: 0644
  notify:
    - restart tor

- name: restart tor immediatly to generate new hostnames and private keys
  service:
    name: tor
    state: restarted
  when: hidden_service_creation|changed

- name: ensure hostname file are present
  template:
    src: hostname
    dest: "/var/lib/tor/{{ item.key }}/hostname"
    owner: debian-tor
    group: debian-tor
    mode: 0600
    backup: yes
  with_dict: "{{ hidden_service_services }}"
  when: item.value.hidden_service_hostname is defined and
        item.value.hidden_service_hostname and
        item.value.hidden_service_state|default('present') == 'present'
  notify: restart tor

- name: ensure private_key file are present
  template:
    src: private_key
    dest: "/var/lib/tor/{{ item.key }}/private_key"
    owner: debian-tor
    group: debian-tor
    mode: 0600
    backup: yes
  with_dict:  "{{ hidden_service_services }}"
  when: item.value.hidden_service_private_key is defined and
        item.value.hidden_service_private_key and
        item.value.hidden_service_state|default('present') == 'present'
  notify: restart tor

- name: ensure hidden service directory is absent
  file:
    path: "/var/lib/tor/{{ item.key }}/"
    owner: debian-tor
    group: debian-tor
    mode: 0700
    state: absent
  with_dict: "{{ hidden_service_services }}"
  when: item.value.hidden_service_state|default('present') == "absent"

# dirty hack to stop tor, when server is not the current hidden service,  restart handler above , would start tor with same url and private key on two hosts
- name: stop tor, if two servers are up, but only one should act as HS (for example jabber servers)
  service:
     name: tor
     state: stopped
  notify: stop tor
  when: not hidden_service_active

- name: get hostname of new registered hiddenservice
  command: "cat /var/lib/tor/{{ item.key }}/hostname"
  register: created_hostnames
  with_dict: "{{ hidden_service_services }}"
  when: item.value.hidden_service_hostname == None
  tags: hfoo

- name: print created or missing onion hostname
  debug:
    msg: "A hidden service for /var/lib/tor/{{ item.item.key }}/ was created or the address is not present in your vars file.
          It's reachable via {{ item.stdout }} . Don't forget to add hostname and privatekey to your vars file"
  with_items:
    - "{{ created_hostnames.results }}"
  when: item.changed
